/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,#cboxOverlay,#cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden
}

#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%
}

#cboxMiddleLeft,#cboxBottomLeft {
	clear:left
}

#cboxContent {
	position:relative
}

#cboxLoadedContent {
	background:#464646;
	overflow:auto
}

#cboxTitle {
	margin:0
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
	cursor:pointer
}

.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block
}

.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0
}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
	background:#fff
}

#cboxContent {
	background:#464646;
	overflow:hidden
}

#cboxError {
	padding:50px;
	border:1px solid #ccc
}

#cboxLoadedContent {
	margin-bottom:40px
}

#cboxTitle {
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	width:100%;
	color:#fff
}

#cboxCurrent,#cboxSlideshow,#cboxClose {
	line-height:40px;
}

#cboxPrevious,#cboxNext,#cboxSlideshow {
	text-indent:9999px
}

#cboxCurrent {
	position:absolute;
	display:block;
	bottom:0;
	width:70px;
	text-align:center;
	left:20px;
	color:#8b8b8b
}

#cboxPrevious,#cboxNext,#cboxSlideshow {
	position:absolute;
	bottom:0;
	width:40px;
	height:40px
}

.cboxSlideshow_off #cboxSlideshow {
	right:52px;
	background:url(images/play.png) no-repeat left top
}

.cboxSlideshow_off #cboxSlideshow.hover {
	background:url(images/play.png) no-repeat left bottom
}

.cboxSlideshow_on #cboxSlideshow {
	right:52px;
	background:url(images/pause.png) no-repeat left top
}

.cboxSlideshow_on #cboxSlideshow.hover {
	background:url(images/pause.png) no-repeat left bottom
}

#cboxPrevious {
	left:0;
	background:url(images/prev.png) no-repeat left top
}

#cboxPrevious:hover {
	background:url(images/prev.png) no-repeat left bottom
}

#cboxNext {
	left:70px;
	background:url(images/next.png) no-repeat left top
}

#cboxNext:hover {
	background:url(images/next.png) no-repeat left bottom
}

#cboxLoadingOverlay {
	background:	#464646 url(../../images/loading.gif) no-repeat 50% 50%
}

#cboxClose {
	position:absolute;
	bottom:0;
	right:17px;
	display:block;
	color:#8b8b8b
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,.cboxIE #cboxTopCenter,.cboxIE #cboxTopRight,.cboxIE #cboxBottomLeft,.cboxIE #cboxBottomCenter,.cboxIE #cboxBottomRight,.cboxIE #cboxMiddleLeft,.cboxIE #cboxMiddleRight {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft {
	background:url(images/ie6/borderTopLeft.png)
}

.cboxIE6 #cboxTopCenter {
	background:url(images/ie6/borderTopCenter.png)
}

.cboxIE6 #cboxTopRight {
	background:url(images/ie6/borderTopRight.png)
}

.cboxIE6 #cboxBottomLeft {
	background:url(images/ie6/borderBottomLeft.png)
}

.cboxIE6 #cboxBottomCenter {
	background:url(images/ie6/borderBottomCenter.png)
}

.cboxIE6 #cboxBottomRight {
	background:url(images/ie6/borderBottomRight.png)
}

.cboxIE6 #cboxMiddleLeft {
	background:url(images/ie6/borderMiddleLeft.png)
}

.cboxIE6 #cboxMiddleRight {
	background:url(images/ie6/borderMiddleRight.png)
}

.cboxIE6 #cboxTopLeft,.cboxIE6 #cboxTopCenter,.cboxIE6 #cboxTopRight,.cboxIE6 #cboxBottomLeft,.cboxIE6 #cboxBottomCenter,.cboxIE6 #cboxBottomRight,.cboxIE6 #cboxMiddleLeft,.cboxIE6 #cboxMiddleRight {
	_behavior: