/*

	Theme Name: Provocateur
	Description: Creative html/css template
	Author: fireform 
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Version: 1.0
	
	Designed & Coded by Fireform
	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

	--------------------------------------------------------------------------

	0.	CSS Reset


	1.	Document Setup (body, common classes, structure etc.)
	
	
	2.	Home page styles
	
		2-1.	Logo and Nav Menu
		
		2-2.	Slider
		
		2-3. 	Check It!
		
		2-4.	Short Tour
		
		2-5		Scrollable
		2-5a	All Images Styles
		2-5b	Short info
		 
		2-6.	Last tweet widget
		

	3.	About Us page styles
	
		3-1.	Page descrition block
		
	4.	Services page styles
	
	5.	Portfolio page styles
	
	6.	Blog Template

		6-1.	Posts
		6-2.	Comments
		6-3.	Replay form
		6-4.	Search
		6-5.	Pagination
		6-6.	Sidebar
		
	7.	Blog single page styles
	
	8.	Blog alternative page styles
	
	9.	Contact Us page styles
		
	10.	Footer Styles
		
		10-1	Expandable
*/

/*--------------------------- 0 - START CSS RESET ---------------------------*/
* {
	margin:0;
	outline:none;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	text-decoration:none;
	line-height:1em
}

/*--------------------------- 0 - END CSS RESET -----------------------------*/
/*--------------------------- 1 - START DOCUMENT SETUP, COMMON CLASSES ------*/
body {
	color:#373737;
	font-size:12px;
	min-height:100%;
	height:auto!important;
	background:url(../images/top-light.png) repeat-x top
}

html {
	background:url(../images/pattern-for-body.jpg) #f1f1f1
}

html,body {
	min-width:940px;
	font-family:arial,helvetica,verdana,sans-serif;
	height:100%
}

/* start theme colors */

.selection,a.selection,.list-color li a:hover,a.selection:visited {
	color:#fa6206!important
}

.jflickr-image:hover {
	border:2px #ff9d4f solid
}

.navi a:hover {
	background:url(../images/nav-line-bg.gif) gray no-repeat center
}

.navi a.active {
	/*background:url(../images/nav-line-bg.gif) #f0842d no-repeat center*/
	background:url(../images/nav-line-bg.gif) #004DA0 no-repeat center
}

.galleria-info-title,#cboxClose:hover {
	color:#ff9d4f
}

::selection {
	background:#ff9d4f
}

::-moz-selection {
	background:#ff9d4f
}

/* end theme colors */


#outer {
	position:relative;
	min-width:940px;
	overflow:hidden;
	height:100%
}

#page-wrapper {
	width:940px;
	margin:0 auto;
	padding:3px 0 65px
}

a,a:active,a:visited {
	line-height:1.6em;
	text-decoration:none;
	color:#373737
}

li {
	list-style:none
}

p {
	line-height:1.6em
}

h1,h2,h3 {
	text-transform:uppercase;
	color:#222
}

h1 {
	font-size:26px
}

h2 {
	font-size:20px
}

h3 {
	font-size:16px
}

.strong,a.strong {
	color:#595959;
	font-weight:700
}

.clear {
	clear:both
}

.blocked {
	display:block;
}

.addition,.addition1 {
	color:#676767
}

.addition1 {
	display:block;
	float:left;
	line-height:24px;
	height:30px
}

.addition a,.addition a:link,a.addition a:visited,.addition1 a,.addition1 a:link,a.addition1 a:visited {
	color:#676767
}

a.selection:hover {
	color:#373737!important
}

.space {
	margin:15px 0 24px
}

.space1 {
	margin:33px 0 20px
}

.space2 {
	margin:15px 0 33px
}

.space3 {
	margin-top:15px
}

.space4 {
	margin-bottom:15px
}

.space5 {
	padding:10px 0 20px
}

.space6 {
	margin-bottom:20px
}

.block {
	margin-top:45px;
	overflow:hidden;
	position:relative
}

.wrap-960 {
	width:960px;
	overflow:hidden
}

.float-r {
	display:block;
	float:right
}

.float-l {
	display:block;
	float:left
}

.last {
	margin:0!important
}

/* theme changer */
.theme-changer-wrap {
	position:fixed;
	width:215px;
	z-index:1000;
	top:20%;
	left:0
}

.theme-changer {
	float: left;
	background-color:#fff;
	width:170px
}

.changer-inner {
	width:150px;
	padding:20px
}

.color-themes {
	float:left;
	display:block;
	margin-right:3px;
	margin-bottom:20px;
	width:24px;
	height:24px
}

.color-themes#col1 {
	background:#b44444
}

.color-themes#col2 {
	background:#f0842d
}

.color-themes#col3 {
	background:#ca5a9c
}

.color-themes#col4 {
	background:#2dd4d2
}

.color-themes#col5 {
	background:#9765b6
}

.changer-inner span {
	display: block;
	margin-bottom:10px
}

a.open-close {
	position: relative;
	left:0;
	display: block;
	width:40px;
	height: 45px;
	float: left;
	background:url(../images/open-close1.png) transparent no-repeat
}

/*--------------------------- 1 - END DOCUMENT SETUP, COMMON CLASSES ------*/
/*--------------------------- 2 - START HOME PAGE STYLES ------------------*/
/*--------------------------- 2-1 - START LOGO AND NAV --------------------*/
#header {
	padding-top:20px;
	padding-bottom:10px;
}

#logo-nav {
	z-index:1000;
	position:relative;
	height:66px;
}

.dashed {
	height:1px;
	background:url(../images/dashed.gif) repeat-x
}

.logo {
	position:absolute;
	display:block;
	left:0;
	top:0
}

#menu {
	height:100%;
	position:absolute;
	right:0;
	top:0
}

#menu li {
	position:relative;
	display:block;
	float:left;
	height:100%;
	margin-left:19px;
	padding-left:25px;
	font-size:16px;
	text-transform:uppercase;
	background:url(../images/list-menu.gif) no-repeat left 13px
}

#menu li a {
	line-height:1.9em;
	display:block;
	height:100%;
}

#menu li.active,#menu li:hover {
	background:url(../images/list-menu-hov.gif) no-repeat left 13px
}

#menu li ul {
	display:none;
	width:200px;
	left:-4px;
	top:61px;
	padding-top:5px;
	position:absolute;
	background:url(../images/drop-top.png) no-repeat 27px top
}

#menu li ul li,#menu li ul li a {
	font-size:14px;
	display:block;
	margin:0;
	padding:0;
	color:#fff;
	float:none;
	background:none
}

#menu li ul li {
	-moz-opacity:0.9;
	opacity:0.9;
	background:#004DA0

}

#menu li ul li a {
	margin:0 15px 0 15px;
	padding:10px 0 10px 15px;
	background:url(../images/2px.gif) no-repeat left center
}

#menu li ul li:hover {
	/*-background:#4e4e4e*/
	background:#ff5f03;

}

/*--------------------------- 2-1 - END LOGO AND NAV --------------------*/
/*--------------------------- 2-2 - START SLIDER ------------------------*/
#slider-container {
	z-index:0;
	position:absolute;
	margin-left:-490px;
	margin-top:99px
}

#slider-holder {
	top:4px;
	/*background:url(../images/loading.gif) #464646 50% 50% no-repeat;*/
	background:url(../images/loading.gif) 50% 50% no-repeat;
	position:relative;
	z-index:99;
	/*height:409px;*/
	/*width:1920px*/
}

#slider-holder img {
	visibility:hidden;
	/*width:1498px;
	height:405px*/
}

p.caption {
	position:relative;
	z-index:9999;
	display:block;
	display:none;
	/*top:-280px;*/
	top:-360px;
	width:240px;
	padding:0 30px 20px;
	font-size:14px;
	text-align:center;
	color:#fff
}

#bevel {
	position:absolute;
	bottom:0;
	width:1920px;
	height:60px;
	background:url(../images/bevel.png) no-repeat
}

/*--------------------------- 2-2 - END SLIDER --------------------------*/
/*--------------------------- 2-3 - START CHECK IT ----------------------*/
#check {
	z-index:3;
	position:relative;
	margin-top:370px;
	width:100%
}

.transp {
	width:960px;
	position:relative;
	color:#fff;
	padding:10px 0px;
	/*background:url(../images/check-bg.png) repeat*/
	background:#484848;
}

.transp p {
	font-size:14px;
	color:#ababab;
	line-height:2.5em;
	text-transform:uppercase
}

.transp h1 {
	color:#fff
}

.transp img {
	/*float:right;*/
	margin-left:50px
}

.transp img:hover {
	filter:alpha(opacity=90);
	-moz-opacity:.9;
	opacity:.9
}

#check-top {
	width:940px;
	height:30px;
	background:url(../images/check-top.png) no-repeat
}

#check-bottom {
	width:960px;
	height:15px;
	background: url(../images/check-bottom.png) no-repeat
}

/*--------------------------- 2-3 - END CHECK IT ------------------------*/
/*--------------------------- 2-4 - START SHORT TOUR --------------------*/
#tour {
	overflow:hidden;
	width:100%;
	padding:56px 0 47px
}

.tour-icns {
	float:left;
	width:80px;
	height:auto
}

#tour p,#tour p.last {
	display:block;
	margin-right:20px;
	width:220px;
	float:left
}

/*--------------------------- 2-4 - END SHORT TOUR ----------------------*/
/*--------------------------- 2-5 - START SCROLLABLE --------------------*/
.scrollable-wrap,.scrollable-wrap1 {
	width:620px;
	position:relative;
	overflow:hidden;
	float:left
}

.scrollable-wrap {
	height:335px
}

.scrollable-wrap1 {
	height:235px
}

.scrollable {
	position:absolute;
	width:20000px
}

.items {
	width:640px;
	float:left
}

.col {
	width:300px;
	float:left;
	margin-right:20px
}

.navi {
	width:100%;
	height:5px;
	background:url(../images/divider1.gif) no-repeat 0 1px
}

.navi a {
	display:block;
	width:155px;
	height:6px;
	float:left
}

img.separator {
	padding:0 15px
}

img.small-icns {
	vertical-align:center;
	padding-left:8px
}

/*--------------------------- 2-5a - START IMAGES -----------------------*/
.img-holder img,.img-holder1 img,.img-holder2 img,.img-holder3 img,.img-holder4 img,.img-holder5 img,.img-holder6 img {
	visibility:hidden
}

.img-holder,.img-holder1,.img-holder2,.img-holder4,.img-holder5,.img-holder6 {
	position:relative;
	float:left;
	padding:3px;
	z-index:0
}

.img-holder {
	margin-bottom:30px
}

.img-holder,.img-holder img,.img-holder1,.img-holder1 img {
	width:294px;
	height:151px
}
.img-holder .img-holder-overflow img {
	width:294px;
	height:auto
}

.img-holder1,.img-holder2 {
	margin:0 20px 20px 0
}

.img-holder2,.img-holder2 img {
	width:134px;
	height:101px
}

.img-holder3 {
	position:relative;
	padding:3px 3px 0;
	background:#fff;
	width:214px;
	z-index:0
}

.img-holder3 img {
	background:#464646;
	display:block;
	width:100%
}

.img-holder4 {
	margin-right:20px;
	width:244px;
	height:151px
}

.img-holder4 a,.img-holder5 a,.img-holder6 a {
	width:100%;
	height:100%;
	overflow:hidden
}

.img-holder5 {
	float:none;
	margin-top:25px;
	width:714px;
	height:270px
}

.img-holder6 {
	display:;
	margin-right:20px;
	width:410px;
	height:207px;
	border: 1px solid #004DA0;
}

.img-holder6.inner {
	margin-bottom:20px;
}

.img-holder img,.img-holder3 a,.img-holder4 img,.img-holder a,.img-holder3 a,.img-holder4 a,.img-holder5 a,.img-holder6 a {
	display:block
}

.img-holder a span.overlayered,.img-holder3 a span.overlayered,.img-holder4 a span.overlayered,.img-holder5 a span.overlayered,.img-holder6 a span.overlayered {
	position:absolute;
	z-index:2;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
	cursor:pointer
}

.img-holder a span.overlayered,.img-holder4 a span.overlayered,.img-holder6 a span.overlayered {
	left:3px;
	right:3px;
	top:3px;
	bottom:3px;
	background:url(../images/ico-logo.png) #004DA0 no-repeat center center
}

.img-holder3 a span.overlayered,.img-holder5 a span.overlayered {
	background:url(../images/enlarge.png) #404040 no-repeat center center;
	left:3px;
	right:3px;
	top:3px;
	bottom:0
}

.img-holder5 a span.overlayered,.inner a span.overlayered {
	bottom:3px;
	background:url(../images/enlarge.png) #404040 no-repeat center center
}

.img-holder,.img-holder1,.img-holder2,.img-holder3,.img-holder4,.img-holder5,.img-holder6 {
	background:url(../images/loading.gif) #fff 50% 50% no-repeat
}

/*--------------------------- 2-5a - END IMAGES -------------------------*/
/*--------------------------- 2-5b - START SHORT INFO -------------------*/
.short-info {
	width:280px;
	float:left;
	margin-left:40px
}

.short-info img {
	padding-right:10px
}

.short-info h2 {
	display:inline
}

img.plus {
	padding:0 16px
}

ul.space li,ul.list li,.testimonials {
	line-height:1.5em;
	display:block;
	padding-left:24px;
	margin-bottom:18px;
	background:url(../images/arr-to-right.png) no-repeat left center
}

.testimonials {
	font-size:14px;
	line-height:1.4em;
	display:block;
	margin:18px 0 10px;
	padding-left:24px;
	background:url(../images/testims-bg.png) no-repeat left top
}

.author {
	margin-left:24px;
	color:#565656;
	font-size:10px
}

/*--------------------------- 2-5b - START SHORT INFO -------------------*/
/*--------------------------- 2-5 - END SCROLLABLE --------------------*/
/*--------------------------- 2-6 - START LAST TWEET ------------------*/
.last-tweet {
	margin-top:56px;
	width:100%
}

.transp1 {
	overflow:hidden;
	color:#fff;
	padding:0 130px 10px;
	background:url(../images/check-bg.png) repeat;
	font-size:14px
}

.transp1 img {
	float:left;
	width:66px;
	height:66px;
	margin-right:20px
}

#tweet-top {
	width:940px;
	height:15px;
	background:url(../images/last-twit-top.png) no-repeat
}

#tweet-bottom {
	width:940px;
	height:29px;
	background:url(../images/last-twit-bottom.png) no-repeat
}

.tweet {
	position:relative;
	display:table;
	height:66px
}

.tweet_list,p.loading {
	display:table-cell;
	vertical-align:middle
}

.tweet_list li {
	line-height:1.6em
}

.tweet_list li span.tweet_text a {
	color:#FA6206;
}

.tweet_list li span.tweet_time a {
	color:gray
}

.tweet_list li span.tweet_text a:hover {
	color:#a5f1ff
}

/*--------------------------- 2-6 - END LAST TWEET --------------------*/
/*--------------------------- 2 - END HOME PAGE STYLES ----------------*/
/*--------------------------- 3 - START ABOUT PAGE STYLES -------------*/
/*--------------------------- 3-1 - START PAGE DESCRIPTION BLOCK ------*/
#page-descrp-wrap {
	margin-top:3px;
	margin-left:-490px;
	width:1920px
}

#page-descrp-top {

	background:url(../images/check-bg.png) repeat
}

.page-title-bg {
	margin-top:-4px;
	margin-left:490px;
	width:300px;
	height:140px;
	position:absolute;
	background:url(../images/page-title-bg.png) no-repeat
}

#page-descrp {
	overflow:hidden;
	padding-bottom:15px;
	padding-top:20px;
	width:940px;
	margin:0 auto
}

#page-descrp h1,#page-descrp p {
	text-transform:uppercase;
	color:#fff
}

#page-descrp h1 {
	margin-left:20px
}

#page-descrp p {
	position:relative;
	left:20px;
	z-index:99;
	display:block;
	float:left;
	width:320px;
	line-height:2.7em
}

#page-descrp span.soc-text {
	width:395px;
	display:block;
	float:left;
	line-height:2.3em;
	font-size:14px;
	color:#fff;
	background:url(../images/soc-profiles-line.gif) repeat-x left bottom
}

#social-wrap {
	position:relative;
	overflow:visible;
	z-index:0;
	width:620px;
	float:left
}

#soc-icns {
	position:absolute;
	right:0;
	margin-top:15px
}

#page-descrp-bottom {
	width:1920px;
	height:59px;
	background:url(../images/page-dscrp-bottom.png) no-repeat
}

/*--------------------------- 3-1 - END PAGE DESCRIPTION BLOCK --------*/
.wrap-620 {
	width:620px;
	overflow:hidden;
	float:left
}

.wrap-620 span {
	line-height:1.6em
}

.divider3 {
	width:100%;
	height:3px;
	background:url(../images/divider1.gif) no-repeat left top
}

.divider4 {
	width:100%;
	height:3px;
	background:#7a7a7a
}

.big-arr-r {
	margin-left:-40px;
	float:left;
	width:23px;
	height:87px;
	background:url(../images/big-arr-r.png) no-repeat left top
}

.wrap-960 div.col {
	margin-top:26px;
	padding-bottom:20px
}

/*--------------------------- 3 - END ABOUT PAGE STYLES ---------------*/
/*--------------------------- 4 - START SERVICES PAGE STYLES ----------*/
.servc-wrap {
	margin-bottom:20px;
	clear:both
}

.servc-title {
	margin:0 20px;
	display:block;
	float:left;
	width:120px;
	height:70px;
	background:url(../images/servc-vertical.gif) no-repeat top right
}

.numbs {
	display:block;
	float:left;
	color:#616161;
	padding-left:10px;
	line-height:1.5em;
	width:50px;
	font-size:40px;
	background:url(../images/numbs-top.gif) no-repeat left top
}

/*--------------------------- 4 - END SERVICES PAGE STYLES ------------*/
/*--------------------------- 5 - START PORTFOLIO PAGE STYLES ---------*/
.portf-4-col {
	width:960px;
	padding-bottom:20px
}

.box {
	width:220px;
	float:left;
	margin-bottom:20px;
	margin-right:20px;
	background-color:#fff;
	padding-bottom:3px
}

.box h3 {
	display:block;
	line-height:1.6em;
	padding:20px 15px;
	margin:0 3px;
	background:#464646;
	color:#fff;
	text-align:center
}

/*--------------------------- 5 - END PORTFOLIO PAGE STYLES -----------*/
/*--------------------------- 6 - START BLOG PAGE STYLES --------------*/
/*--------------------------- 6-1 - START POSTS -----------------------*/
#posts-wrap {
	width:720px;
	margin:45px 30px 0 0;
	float:left
}

.post {
	overflow:auto;
	padding-bottom:40px;
	clear:both
}

.post-date {
	width:40px;
	float:left;
	margin-right:10px;
	font-size:16px;
	color:#616161;
	text-transform:uppercase;
	text-align:center;
	background:url(../images/post-date-bg.gif) no-repeat left top;
	padding-top:20px
}

.post-date span.date {
	font-size:36px
}

.post-date a {
	display:block;
	color:#676767;
	font-size:12px;
	margin-top:20px;
	height:60px;
	line-height:60px;
	background:url(../images/post-date-bg.gif) no-repeat left top
}

#posts-wrap .post .inline {
	padding-left:320px
}

/*--------------------------- 6-1 - END POSTS -------------------------*/
/*--------------------------- 6-2 - START COMMENTS --------------------*/
.comment-wrap {
	padding-left:20px;
	overflow:hidden
}

.comment {
	margin-bottom:20px;
	margin-left:-20px;
	border:1px #d0d0d0 solid;
	padding:20px
}

.comment div.inline span {
	color:#676767
}

.comment div.inline {
	padding-left:83px
}

img.avatar {
	display:block;
	float:left;
	width:63px;
	height:63px;
	border:2px #fff solid;
	background:#fff
}

/*--------------------------- 6-2 - END COMMENTS ----------------------*/
/*--------------------------- 6-3 - START REPLAY FORM -----------------*/
#replay div input,#contact div input {
	padding:0 10px;
	margin:0 20px 20px 0;
	overflow:visible;
	width:298px;
	height:28px;
	line-height:28px;
	border:1px #fff solid;
	color:#8d8d8d
}

#replay div textarea,#contact div textarea {
	overflow:visible;
	padding:10px;
	color:#8d8d8d;
	line-height:1.6em;
	min-height:108px;
	min-width:578px;
	max-width:698px;
	margin-bottom:20px;
	border:1px #fff solid
}

#replay div input#send,#contact div input#send {
	border:0;
	cursor:pointer;
	width:auto;
	background:#4c4c4c;
	color:#fff
}

/*--------------------------- 6-3 - END REPLAY FORM -------------------*/
/*--------------------------- 6-4 - START SEARCH ----------------------*/
#search-wrap {
	display:block;
	float:right;
	background:#fff
}

.search {
	padding:0 10px;
	line-height:30px;
	color:#676767;
	width:126px;
	height:30px;
	float:left
}

.search-btn {
	float:left;
	cursor:pointer;
	width:44px;
	height:30px;
	background:url(../images/search-icn.png) #4c4c4c no-repeat 50% 50%
}

/*--------------------------- 6-4 - END SEARCH ------------------------*/
/*--------------------------- 6-5 - START PAGINATION ------------------*/
#pagination {
	text-transform:uppercase;
	font-size:14px;
	padding-bottom:20px;
	text-align:center
}

#pagination span {
	margin-right:30px
}

#pagination span#first-pg {
	padding-left:23px;
	background:url(../images/pg-arrows.png) no-repeat left center
}

#pagination span#last-pg {
	padding-right:23px;
	background:url(../images/pg-arrows.png) no-repeat right center
}

/*--------------------------- 6-5 - END PAGINATION --------------------*/
/*--------------------------- 6-6 - START SIDEBAR ---------------------*/
#sidebar {
	margin:45px 0 20px;
	padding:0 0 15px 30px;
	float:left;
	width:160px;
	background:url(../images/sidebar-dashed.gif) repeat-y top left
}

#sidebar ul li {
	line-height:1.8em
}

#tags li {
	display:block;
	padding-right:10px;
	margin-right:20px;
	float:left;
	background:url(../images/tags-bg.png) no-repeat center right
}

/*--------------------------- 6-6 - END SIDEBAR -----------------------*/
/*--------------------------- 6 - END BLOG PAGE STYLES ----------------*/
/*--------------------------- 7 - START BLOG SINGLE PAGE STYLES -------*/
.post p span.float-l {
	float:left;
	margin:20px 20px 20px 0
}

.post p span.float-r {
	float:right;
	margin:20px 0 20px 20px
}

/*--------------------------- 7 - END BLOG SINGLE PAGE STYLES ---------*/
/*--------------------------- 8 - END BLOG ALTERNATIVE PAGE STYLES ----*/
.block .post .inline {
	padding-left:480px
}

.switch {
	cursor:pointer;
	display:block;
	padding-right:20px;
	height:30px;
	line-height:1.6em;
	float:right;
	background:url(../images/topbar-open-close.gif) no-repeat right bottom
}

.switch.active {
	background-position:right top
}

.topbar {
	overflow:hidden;
	display:none;
	padding:22px 0 22px 0;
	background:url(../images/spacer.gif) repeat-x left bottom
}

.tags1 {
	width:460px;
	margin-right:20px;
}

.categories {
	width:220px;
	margin-right:20px;
}

/*--------------------------- 8 - END BLOG ALTERNATIVE PAGE STYLES ----*/
/*--------------------------- 9 - START CONTACT US PAGE STYLES --------*/
iframe.maps {
	margin-top:33px;
	border:#fff 3px solid;
	background:url(../images/loading.gif) #fff no-repeat 50% 50%
}

.contact-form form div textarea {
	max-width:598px!important
}

.short-info table tr td {
	padding-right:20px;
	line-height:2em
}
/*--------------------------- 9 - END CONTACT US PAGE STYLES ----------*/
/*--------------------------- 10 - START FOOTER -----------------------*/
#footer,.expandable {
	margin-top:46px;
	overflow:hidden
}

.col-last {
	width:300px;
	float:left;
	position:relative
}

.indent {
	overflow:hidden;
	margin-top:26px;
	padding-bottom:20px
}

/*--------------------------- 10-1 - START EXPANDABLE FOOTER ---------*/
.expandable {
	display:none
}

#open-close {
	cursor:pointer;
	position:absolute;
	display:block;
	width:29px;
	height:26px;
	background:url(../images/open-close.png) no-repeat left top
}

#open-close.closed {
	background:url(../images/open-close.png) no-repeat left bottom
}

.divider2 {
	width:100%;
	height:26px;
	background:url(../images/divider2.gif) no-repeat left center
}

/*--------------------------- 10-1 - END EXPANDABLE FOOTER -----------*/
.copyrights {
	margin-top:15px;
	width:100%;
	height:34px
}

.copyrights p {
	display:block;
	float:left;
	color:#676767;
	line-height:34px;
	width:640px
}

.social {
	width:300px;
	float:left
}

/*--------------------------- 10 - END FOOTER -------------------------*/
.r {font-size:70px; color:#ec8a3a;}
.logox {margin-top:-10px; font-weight:bold;}
.naranja { color:#FA6206 !important; }

/*  */
.only-block { display:block; }
.m-right { margin-right:10px; }
.m-left { margin-left:10px; }
.w-auto { width:auto; }
.img-holder-overflow {width:294px; height:151px; overflow:hidden; background:url("../images/pattern-for-body.jpg") repeat scroll 0 0 #F1F1F1;}
.minus-line-height {  }
ul.minus-line-height li { margin-bottom:8px; }
.img-transparent { background:url("../images/loading.gif") no-repeat scroll 50% 50%; border:1px solid #004DA0;}
.img-transparent img { background:none; }
.scrollable .col {margin-right:15px;}

#mail-corporativo img {margin:0px;  padding-left: 10px; border-left: 1px solid #666}
#video-corporativo img {margin:0px; margin-left: 10px}
#contact div input[type="text"],#contact div input[type="password"], #contact div textarea { border:1px solid #cdcdcd }
#contact div input[type="text"]:focus,#contact div input[type="password"]:focus, #contact div textarea:focus { border:1px solid #004DA0 }
form label {display: block; padding: 0px 0px  10px 0px;}
form h3 {padding: 0px 0px  10px 0px;}