.social li,.social-1 li {
	display:block;
	float:left;
}

.social a,.social-1 a {
	display:block;
	position:relative
}

.social a {
	margin-right:13px;
	width:34px;
	height:34px;
}

.social-1 a {
	margin-left:13px;
	width:32px;
	height:32px;
}

.fade-in * {
	display:none
}

.social span,.social-1 span {
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer
}

.social span {
	width:34px;
	height:34px;
}

.social-1 span {
	width:32px;
	height:32px;

}

.social .social1 {
	background:url(../../images/social/twitter.png) no-repeat left top
}

.social .social2 {
	background:url(../../images/social/google-plus.png) no-repeat left top
}

.social .social3 {
	background:url(../../images/social/facebook.png) no-repeat left top
}

.social .social4 {
	background:url(../../images/social/dribble.png) no-repeat left top
}

.social .social5 {
	background:url(../../images/social/vimeo.png) no-repeat left top
}

.social .social1 span {
	background:url(../../images/social/twitter.png) no-repeat left bottom
}

.social .social2 span {
	background:url(../../images/social/google-plus.png) no-repeat left bottom
}

.social .social3 span {
	background:url(../../images/social/facebook.png) no-repeat left bottom
}

.social .social4 span {
	background:url(../../images/social/dribble.png) no-repeat left bottom
}

.social .social5 span {
	background:url(../../images/social/vimeo.png) no-repeat left bottom
}




.social-1 .social6 {
	background:url(../../images/social/twitter1.png) no-repeat left top
}

.social-1 .social7 {
	background:url(../../images/social/google-plus1.png) no-repeat left top
}

.social-1 .social8 {
	background:url(../../images/social/facebook1.png) no-repeat left top
}

.social-1 .social9 {
	background:url(../../images/social/dribble1.png) no-repeat left top
}

.social-1 .social10 {
	background:url(../../images/social/vimeo1.png) no-repeat left top
}

.social-1 .social6 span {
	background:url(../../images/social/twitter1.png) no-repeat left bottom
}

.social-1 .social7 span {
	background:url(../../images/social/google-plus1.png) no-repeat left bottom
}

.social-1 .social8 span {
	background:url(../../images/social/facebook1.png) no-repeat left bottom
}

.social-1 .social9 span {
	background:url(../../images/social/dribble1.png) no-repeat left bottom
}

.social-1 .social10 span {
	background:url(../../images/social/vimeo1.png) no-repeat left bottom
}