/*----------------------------------------
    * Pseudo-Classes
----------------------------------------*/
.clearfix:after {
	clear:both;
	content:".";
	height:0;
	display:block;
	visibility:hidden
}

/*----------------------------------------
    * jFlickr
----------------------------------------*/
.jflickr-container {
	position:relative;
	margin-bottom:20px;
	width:330px
}

.jflickr-container .jflickr-images {
	position:relative
}

.jflickr-container .jflickr-images * {
	list-style:none;
	font-family:Arial,Helvetica,sans-serif;
	color:#fff;
	font-size:10px;
	font-style:normal;
	font-weight:400;
	text-decoration:none;
	background:#fff
}

.jflickr-container .jflickr-images .jflickr-image {
	position:relative;
	margin-right:20px;
	float:left;
	overflow:hidden
}

.jflickr-image img {
	height:100%;
	position:relative;
	margin:0 auto;
	display:block
}

.jflickr-image {
	display:block;
	border:2px #fff solid
}

.jflickr-container .tag {
	font-style:italic
}