/*
    anythingSlider v1.2
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

.wrapper ul {
	padding-left:490px
}

.anythingSlider {
	position:relative
}

.anythingSlider .wrapper {
	width:1920px;
	overflow:auto;
	height:405px
}

/* Width below is max for Opera */
.anythingSlider .wrapper ul {
	width:32700px;
	list-style:none
}

.anythingSlider .wrapper ul li {
	display:block;
	float:left;
	padding:0;
	width:1498px;
	margin:0
}

.wrapper ul li .preloader {
	background:none
}

.anythingSlider .arrow {
	display:block;
	height:165px;
	width:14px;
	background:url(../../images/slider-arrows.png) no-repeat 0 0;
	text-indent:-9999px;
	position:absolute;
	cursor:pointer;
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	opacity:.5
}

.anythingSlider .forward {
	background-position:-14px 0;
	top:113px;
	left:940px
}

.anythingSlider .back {
	background-position:0 0;
	top:113px;
	left:0px;
	z-index:10000
}

.anythingSlider .forward:hover,.anythingSlider .back:hover {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1
}

.thumbNav {
	position:absolute;
	left:490px;
	z-index:1;
	text-align:right
}

.thumbNav ul {
	/*padding:95px 23px 20px 30px;
	width:247px;
	height:245px;
	margin-top:-4px;
	background:url(../../images/caption-bg.png) no-repeat top*/
}

.thumbNav li {
	/*display:inline*/
	display:none;
}

.thumbNav a {
	color:#ffb5b5;
	display:inline-block;
	padding:2px 8px;
	height:18px;
	text-align:left
}

.thumbNav a:hover {
	background-image:none;
	color:#fff
}

.thumbNav a.cur {
	color:#fff
}

/*
  Prevents
*/
.anythingSlider .wrapper ul ul {
	position:static;
	margin:0;
	background:none;
	overflow:visible;
	width:auto;
	border:0
}

.anythingSlider .wrapper ul ul li {
	float:none;
	height:auto;
	width:auto;
	background:none
}
